html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    text-align: center;
}

img[src='img/logo.png'] {
    margin-top: 10px;
    margin-bottom: 5px;
}

img[src='img/CTA.png'] {
    width: 100%;
    margin-bottom: 20px;
}

form>div>label>span {
    color: red;
}

#red {
    color: red;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map-canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 47px;
    bottom: 36px;
}